<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CreateFilesCutoff" value="08:30,13:10,16:00" />
    <add key="MiddayCutoff" value="13:10" />
    <add key="CheckerTime" value="22:00" />
    <add key="DownloadFolder" value="C:\CUSOP\TEST\INBOX\" />
    <add key="UploadFolder" value="C:\CUSOP\TEST\OUTBOX\" />
    <add key="UploadInterval" value="2" />
    <!-- In minutes -->
    <add key="DownloadInterval" value="5" />
    <!-- In minutes -->
    <add key="SettlementAcc" value="" />
    <add key="BIC" value="SLCNIE21XXX"/>
    <add key="NSC" value="992127"/>
    <add key="CreditorIdentifier" value="IE02ZZZ360739"/>
    <add key="PingmonOn" value="true" />
    <add key="PingmonURL" value="http://52.31.51.73:52156/api/PingWebService/Ping?id=58" />
    <add key="PingmonInterval" value="29" />
    <!-- In minutes -->
    <add key="PingmonTimeout" value="500" />
    <!-- In seconds -->
    <add key="GenerateDDs" value="TRUE"/>
    <add key="CreateDDFile" value="TRUE"/>
    <add key="DDCreateFilesCutoff" value="09:10"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=JOHNDEV;Initial Catalog=Slane161017;User Id=sa;Password=FernDevelop;Connection Timeout=0;" />
    <add name="HostAddress" connectionString="" />
    <add name="Port" connectionString="22" />
    <add name="Username" connectionString="" />
    <add name="Key" connectionString="" />
    <add name="SFTPPass" connectionString="" />
    <add name="User" connectionString="administrator" />
    <add name="Password" connectionString="D8hmU+eHTEwKQ2nAhdY0OQ==" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>